<!DOCTYPE html>
<html lang="en">
<head>
    <!--  ../public/css/style.css -->
    <style></style>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario NodeJS</title>
</head>
<body>
    <div class="title">Pyramid Maker</div>
    <form action="update" method="post" class="form-py">
        <input type="number"  placeholder="Filas de la Piramide..." name="total">
        <input type="submit" class="sub">
    </form>
</body>
</html>